<!DOCTYPE html>
<html>
  <head>
    <title>Decentralised Banking Network</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Decentralised Banking Network</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('newaccount')}}">Register a New DBN account</a> |
          <a href="{{ url_for('addmoney')}}">Add funds to your DBN Account</a> |
          <a href="{{ url_for('create')}}">New Transaction</a> |
          <a href="{{ url_for('updatewindow')}}">Update Transaction</a> |
          <a href="{{ url_for('read')}}">See all transactions</a> 
          
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          All the required licenses have been acquired! 
          This web page is secured through state of the art cybersecurity protocols. The usage of the name Decentralised Banking Network is trademarked. 
          </p>
      </footer>
    </div>
  </body>
</html>
