{% extends 'base.html' %} {% block container %}
<h2>New Transaction</h2>
<p>To initiate a new transaction please enter the required details below. Also, give yourself a DBN number that is unique for this transaction. 

</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>DBN Number: <input type="number" id="fnumber" name="fnumber" required/><br /></p>
  <p>Your name: <input type="text" id="fname" name="fname" /><br /></p>
  <p>Receiver name: <input type="text" id="rname" name="rname"/><br /></p>
  <p>Receiver's DBN number: <input type="number" id="raccnumber" name="raccnumber" required/><br /></p>
  <p>Amount: <input type="number" id="famount" name="famount" required/><br /></p>
  <p>
    Message:
    <textarea type="text" id="fmessage" name="fmessage"></textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Transfer" />
  </p>
</form>
{% endblock %}
