{% extends 'base.html' %} {% block container %}
<h2>Update</h2>
<p>Hi {{doc.name}},<br/>Update the updatable details below and press update to update our records. 
  Mind you, you cannot change the receiver's DBN number or the amount!</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>
    Receiver name:
    <input type="text" id="rname" name="rname" value="{{doc.rname}}" /><br />
  </p>
  <!--<p>
    Receiver account number:
    <input type="number" id="raccnumber" name="raccnumber" value="{{doc.raccnumber}}" /><br/>
  </p>
  <p>
    Amount:
    <input type="number" id="famount" name="famount" value="{{doc.amount}}" /><br/>
  </p> -->
  <p>
    Message:
    <textarea id="fmessage" name="fmessage">{{doc.message}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
